

.div{
    background-color: #FFDF4F;
   
   
  
}
.div-contenedor{
  
    background:rgba(3,3,3,0.5);
    padding: 8px;
  
        

}


.div-contenedor-header{
  
    background:rgba(3,3,3,0.5);
 
    border-bottom: 1px solid black;
    padding: 4px;
        
        

}

body{
    background-image: url("../img/Vallarta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
    
    
        
    
}

.div-right{

   background-color:#FFDF4F;
    padding: 3px;
 
  

  
}
input{
   border-radius: 18px!important;
}

.div-head{
border-right: 1px solid black;
 
    color: aliceblue;
}



@media (max-width:400px){

    .div-right{
        padding: 0px;
    }
}


.a:visited{
    color: crimson
}

.li{
    background-color: #76BF72;
    border: 1px dotted black;
    border-radius: 15px
    
}
.li:hover{
    background-color:#1F9C8B; 
}

.li-right{
    color: black;
}
.div-callout{
    background-color: transparent;
}
