div{
    border: 2px ;
    
    
}

.div{
    background-color: antiquewhite;
 
    
}
.div-contenedor{
  margin-top: 1%;
    
    
}

body{
    background-image: url("../img/jay.jpg");
    background-size: cover;
    background-repeat: no-repeat
    
        
    
}

.div-right{

    background-color: cadetblue;
  
   
    
        
    
}
