

.div{
    background-color: #FFDF4F;
   
   
  
}
.div-contenedor{
  
    background:rgba(3,3,3,0.5);
    padding: 8px;
  
        

}


.div-contenedor-header{
  
    background:rgba(3,3,3,0.5);
 
    border-bottom: 1px solid black;
    padding: 4px;
        
        

}

body{
    background-image: url("../img/Vallarta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
    
    
        
    
}

.div-right{

   background-color:#FFDF4F;
    padding: 3px;
 
  

  
}
input{
   border-radius: 18px!important;
}

.div-head{
border-right: 1px solid black;
 
    color: aliceblue;
}



@media  (max-width:640px){

    div{
        margin: 0 auto!important;
        padding: 0!important;
    }
}


.a:visited{
    color: crimson
}

.li{
    background-color: #76BF72;
    border: 1px dotted black;
    border-radius: 15px
    
}
.li:hover{
    background-color:#1F9C8B; 
}

.li-right{
    color: black;
}
.div-callout{
    background-color: transparent;
}

.h3{
     text-align: center;
    border: 1px dotted black;
    border-radius: 15px
}

.btn{
    background-color: #76BF72;
    border-radius: 7px;
    
    
}
.btn:hover{
     background-color:#1F9C8B; 
}

.img-avatar{
  
}
